{% extends 'salary/start.html' %}

{% block content %}

<br><br><br><br><br><br>

<form action="{{ url_for('restore_password_user') }}" method="post">


<p><input type="password" name="password1" placeholder="Придумайте новый пароль"></p>
<p><input type="password" name="password2" placeholder="Повторите пароль"></p>

    {% if user_not_found %}    
    <p>{{ user_not_found }}</p>
    {% else %}
    <br>
    {% endif %}

    {% if url_incorrect %}    
    <p>{{ url_incorrect }}</p>
    {% else %}
    <br>
    {% endif %}

    {% if password_not_strong %}    
    <p>{{ password_not_strong }}</p>
    {% else %}
    <br>
    {% endif %}

    {% if password_mismatch %}    
    <p>{{ password_mismatch }}</p>
    {% else %}
    <br>
    {% endif %}

<br>

<div class="invis">
<input
    id="team_name"
    type="text"
    name="token"
    value="{{ token }}" />
</div>

<br>

<button type="submit">Сохранить изменения</button>

</form>

{% endblock %}



